* {
	box-sizing: border-box;
}

:root {
	--base: rgb(100, 100, 100);
	--border-radius: 3px;
	--buttons: rgb(123 106 106);
	--button-padding: 20px;
	--font-size: 20px;
	--gap: 8px;
	--operators: rgb(242, 225, 24)
}

body {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content:center;
}

#container {
	background: var(--base);
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 16px;
	width: 400px;
}

.buttons {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	margin-top: var(--gap);
}

.screens {
	overflow: hidden;
	position: relative;
}

.screen-back {
	color: rgb(255 255 0);
	font-size: 40px;
	left: 0;
	padding: var(--gap) 10px;
	position: absolute;
	top: 0;
}

.screen {
	background: rgba(10, 10, 10, .8);
	color: rgb(255 255 0);
	font-size: 40px;
	padding: var(--gap) 10px;
	position: relative;
	z-index: 11;
}

.operators, .numbers, .sum {
	display: flex;
	flex-wrap:wrap;
	gap: var(--gap);
}

.operators {
	flex: 1;
	flex-direction: row;
}

.operators button {
	background: var(--operators);
	border-radius: var(--border-radius);
	flex: 1;
	font-size: var(--font-size);
	padding: var(--button-padding) 0;
}

.operators button:hover, .numbers button:hover, .sum button:hover {
	cursor: pointer;
	filter: brightness(90%);
}

.numbers-sum {
	display: flex;
	flex-direction: row;
	gap: var(--gap);
}

.numbers {
	flex: 1 1 calc(80% - 8px);
}

.numbers > button {
	background: var(--buttons);
	border-radius: var(--border-radius);
	color: white;
	flex: 1 1 calc(33% - 8px);
	font-size: var(--font-size);
	padding: var(--button-padding) 0;
}

.sum {
	flex: 1 1 calc(20% - 12px);
	flex-direction: column;
}

.sum button {
	background-color: var(--operators);
	border-radius: var(--border-radius);
	flex: 1;
	font-size: var(--font-size);
}
